.article-social-media {
    display: flex;
    align-items: center;
}

.article-social-media__text {
    font-size: 1.5rem;
    color: #7d7e7f;
}

.article-social-media__link {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: #7b868a;
}