.course-info__courses-title {
    position: relative;
}

.course-info__courses-title::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 39px;
    background-color: var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 12px;
    right: -27px;
    top: -5px;
    transform: skewX(-10deg);
}

.sidebar-articles__list {
    margin-top: 2rem;
}