.courses-info {
    position: sticky;
    top: 2rem;
}

.course-info {
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
    border: 1px solid #f2f2f2;
}

.course-info__topic-title {
    display: block;
    color: var(--dark-color);
    font-size: 1.8rem;
}

.course-info__topic-text {
    font-size: 1.5rem;
    color: #7d7e7f;
}