.course-info__register {
    text-align: center;
    background-color: #1fbd50;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 12px rgba(31, 189, 80, 36%);
}

.course-info__register-title {
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: bold;
}

.course-info__register-icon {
    font-size: 2rem;
}